p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: '__fyranSans_d0c9de", "__fyranSans_Fallback_d0c9de';
    color: var(--color-text);
}

body {
    background-color: var(--color-background);
    margin: 0;
}

:root {
    --color-primary: #f71c1c;
    --color-secondary: #ffffff;
    --color-footer: #f8e8bd;
    --color-tertiary: #ff0000;
    --color-text: #222222;
    --color-shadow: #d6d6d6;
    --color-background: #f1f1f1;
    --rounded-corners: 1ch;
}

.container {
    background-color: var(--color-background);
    width: min(110ch, 100vw - 2rem);
    margin-inline: auto;
}

/* Navbar */
nav .selected {
    color: var(--color-primary);
}

nav {
    display: flex;
    overflow-x: auto;
}

nav a {
    padding: 1rem;
    text-decoration: none;
    color: var(--color-text);
    white-space: nowrap;
    align-items: center;
    place-content: center;
}

.navbar {}

.top-navbar {
    place-content: center;
    display: flex;
    border-bottom-style: solid;
    border-color: var(--color-shadow);
    background-color: var(--color-secondary);
}

.bottom-navbar {
    display: flex;
    place-content: center;
    background-color: var(--color-secondary);
}

.logo {
    padding: 1rem;
    font-size: x-large;
    color: var(--color-primary);
}

@media screen and (max-width: 559px) {
    .top-navbar .btn-nav {
        display: none;
    }
}

/* Screamer */
.screamer {
    width: 100%;
    max-width: 800px;
    margin: 1rem;
    border-radius: var(--rounded-corners);
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: medium;
}

.screamer h1 {
    margin: 0.5rem;
    padding-left: 1rem;
    font-size: xx-large;
    color: var(--color-primary);
}

.screamer p {
    padding-left: 1rem;
    font-size: x-large;
    color: var(--color-text);
}

/* News articles */
.news {
    border-radius: var(--rounded-corners);
    background-color: var(--color-secondary);
}

.news h1 {
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-size: x-large;
    color: var(--color-text);
}

.news img {
    border-radius: var(--rounded-corners);
    width: 100%;
    height: auto;
}

.news p {
    padding: 1rem;
    font-size: medium;
    color: var(--color-text);
}

/* Sidebar */
.sidebar {
    overflow-x: visible;
    max-width: 210px;
    display: flex;
    flex-wrap: wrap;
}

.sidebar a {
    padding: 0;
    white-space: wrap;
}

.with-sidebar {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    flex-basis: 20rem;
    flex-grow: 1;
}

.not-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    flex-basis: 0;
    flex-grow: 999;
}

.card-news {
    margin-top: 16;
    display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 0;
}

.card-news h1,
h2,
p {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-inline: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-text);
}

.card-news h1 {
    font-size: small;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.card-news h2 {
    font-size: medium;
}

.card-news p {
    font-size: medium;
    padding-bottom: 1rem;
}

/* Card */
.card-news li {

    border-bottom: 1px solid var(--color-shadow);
    background-color: var(--color-secondary);
}

.card-news> :first-child {
    border-top-left-radius: var(--rounded-corners);
    border-top-right-radius: var(--rounded-corners);
}

.card-news> :last-child {
    border-bottom-left-radius: var(--rounded-corners);
    border-bottom-right-radius: var(--rounded-corners);
}


/* Footer */
.footer {
    background-color: var(--color-footer);
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    padding: 1rem;
}

main {
    gap: 3rem;
}