p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: '__fyranSans_d0c9de", "__fyranSans_Fallback_d0c9de';
    color: var(--color-text);
}

body {
    background-color: var(--color-background);
}

:root {
    --color-primary: #f71c1c;
    --color-secondary: #ffffff;
    --color-footer: #f8e8bd;
    --color-tertiary: #ff0000;
    --color-text: #222222;
    --color-shadow: #d6d6d6;
    --color-background: #f1f1f1;
    --rounded-corners: 1ch;
}

.container {
    background-color: var(--color-background);
    width: min(80ch, 100vw - 2rem);
    margin-inline: auto;
}

/* Navbar */

nav .selected {
    color: var(--color-primary);
}

nav {
    overflow-x: auto;
    display: flex;
    padding: 0;
}

nav a {
    padding: 1rem;
    text-decoration: none;
    color: var(--color-text);
    white-space: nowrap;
    align-items: center;
    place-content: center;
}

.top-navbar {
    place-content: center;
    display: flex;
    border-bottom-style: solid;
    border-color: var(--color-shadow);
    background-color: var(--color-secondary);
}

.bottom-navbar {
    place-content: center;
    display: flex;
    background-color: var(--color-secondary);
}

.logo {
    padding: 1rem;
    font-size: x-large;
    color: var(--color-primary);
}

#selected {
    color: var(--color-primary);
}

@media screen and (max-width: 559px) {
    .top-navbar .btn-nav {
        display: none;
    }
}

/* Screamer */
.screamer {
    margin: 1rem;
    border-radius: var(--rounded-corners);
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: left;
    font-size: medium;
}

.screamer h1 {
    padding-left: 1rem;
    font-size: xx-large;
    color: var(--color-primary);
}

.screamer p {
    padding-left: 1rem;
    font-size: x-large;
    color: var(--color-text);
}

/* News articles */
.news {
    margin: 1rem;
    border-radius: var(--rounded-corners);
    background-color: var(--color-secondary);
}

.news h1 {
    padding: 1rem;
    font-size: x-large;
    color: var(--color-text);
}

.news img {
    border-radius: var(--rounded-corners);
    width: 100%;
    height: auto;
}

.news p {
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: medium;
    color: var(--color-text);
}

/* Footer */
.footer {
    background-color: var(--color-footer);
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    padding: 1rem;
}

main {
    gap: 3rem;
}